<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/dist/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Postcode Inspector</title>
</head>

<body>
    <main>
        <div id="app">
            <section id="main-container">
                <div id="rect-1">
                </div>
                <!-- Search Bar-->
                <div id="header-wrapper--search">
                    <div class="container-fluid seperate-sections--md">
                        <div class="row d-flex justify-content-between w-100">
                            <div class="col-12 col-md-4">
                                <h1>Postcode Explorer</h1>
                                <div id="searchbar-wrapper">
                                    <form @submit.prevent="getPostcodeData">
                                        <input v-model="postcodeInput" @input="onInput" placeholder="SE8 4SD">
                                        <button type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Results -->
                        <div v-if="firstSearch" class="h-50">
                            <div class="row results-row justify-content-around h-100">
                                <div class="col-12 col-md-3 result-container">
                                    <article>
                                        <h3 class="text-center">Crime Stats</h3>
                                        <div class="result-wrapper">
                                            <div v-for="item in crimeStats" class="result">
                                                <p>{{ item.category }}</p>
                                                <p>{{ item.location }}</p>
                                                <p>{{ item.outcome_status }}</p>
                                            </div>
                                        </div>
                                        
                                    </article>
                                </div>
                                <div class="col-12 col-md-3 result-container">
                                    <article>
                                        <h3 class="text-center">Planning Permissions</h3>
                                        <div class="result-wrapper">
                                            <div v-for="item in planningPerms" class="result">
                                                <p>{{ item.application_type }}</p>
                                                <a :href="item.url">Inspect plan</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-12 col-md-3 result-container">
                                    <article>
                                        <h3 class="text-center">Nearest Postcodes</h3>
                                        <div class="result-wrapper">
                                            <div v-for="item in nearestPostcodes" class="result">
                                                <p>{{ item.postcode }}</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 d-flex justify-content-center">
                                    <img src="./assets/images/kisspng-animated-film-powerpoint-animation-magnifying-glas-detective-hat-5b1fcf6b123aa3.6240550815288113710747.png"
                                        alt="Man with magnifying glass" width="200" height="250">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>


        </div>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>