@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;700&display=swap');


/* Font Family */
$font-stack: 'Poppins', sans-serif;
$font-stack-alt: 'Montserrat', sans-serif;

/* Font Weights */

$fw-bold: 700;
$fw-reg: 400;
$fw-mbold: 500;

/* Font Colours */
$fc-offwhite: #fafafa;
$fc-danger: rgb(166, 23, 23);
$fc-success: rgb(34, 106, 34);
$fc-warning: rgb(41, 31, 177);

/* Background Colours */
$bg-blue: rgb(65, 81, 145);
$bg-darkerblue: rgb(50, 62, 113);
$bg-green: rgb(35, 136, 24);
$bg-lightgreen: rgb(52, 177, 38);
$bg-darkergreen: rgb(34, 118, 25);
$bg-lightgray: rgb(245, 245, 245);
$bg-danger: rgb(166, 23, 23);
$bg-success: rgb(34, 106, 34);



*,
:before,
:after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
   height: 100%
}

hr {
    margin-top: 0 !important; 
    border: 0 !important;
    opacity: 1 !important;
    background-color: $fc-offwhite !important;
    height: 5px;
}

hr:not([size]) {
    height: 3px !important;
}




h1, h3, input, button, a {
    font-family: $font-stack !important;
}

h1 {
    color: $fc-offwhite;
    font-size: 2.375rem;
    font-weight: $fw-bold !important;
}

h3 {
    color: $fc-offwhite;
    font-size: 1.5rem !important;
}

i {
    font-size: 1.25rem;
    margin-right: .75rem;
}

a {
    color: $fc-offwhite !important;
}

/* Page Contents */

#main-container {
    height: 100vh;
    background: url('../../images/vecteezy_aesthetic-wave-border-vector-illustration_13316708.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

#rect-1 {
    min-height: calc(100vh - 40%);
    background-color: rgb(65, 81, 145);
    width: 100%;
    padding: .1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#header-wrapper--search {
    height: 100%;
    padding: .975rem;
    position: relative;
    z-index: 2;
    #searchbar-wrapper {

        width: 100%;

        input {
            width: 100%;
            padding: 0.675rem;
            font-size: 1.1875rem;
        }

        button {
            width: 100%;
            background-color: $bg-green;
            outline: none;
            border: none;
            padding: 0.3875rem;
            margin-top: 0.75rem;
            color: $fc-offwhite;
            border-radius: 7px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 1.1875rem;
            -webkit-box-shadow: inset 10px 10px 84px -43px rgba(255,255,255,1);
            -moz-box-shadow: inset 10px 10px 84px -43px rgba(255,255,255,1);
            box-shadow: inset 10px 10px 84px -43px rgba(255,255,255,1);
        }

        button:hover {
            background-color: $bg-darkergreen;
        }
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}


.seperate-sections--md {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.result-container {
    background-color: $bg-success;
    height: 100%;
    padding: 1.275rem 0;
    border-radius: 7px;
    -webkit-box-shadow: 10px 10px 91px -12px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 91px -12px rgba(0,0,0,0.55);
    box-shadow: 10px 10px 91px -12px rgba(0,0,0,0.55);

    article {
        height: 100%;
    }
}

.result-wrapper {
    overflow: auto;
    height: 80%;
    background-color: white;

}

.result-row {
    height: 100%;

    div {
        height: 100%;
        
    }
}

.result {
    background-color: $bg-darkerblue;
    color: $fc-offwhite;
    margin: 1rem;
    padding: 0.875rem 0.25rem;
    border-radius: 7px;

    p {
        font-family: $font-stack-alt;
    }

}

.result.postcode {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;

    button {
        background-color: $bg-darkerblue;
        color: $fc-offwhite;
        border: none;
        padding: 1rem;
        border-radius: 20px;
        width: 100%;
        transition: all 0.3s ease;
        font-family: $font-stack-alt;
    }

    button:hover {
        background-color: $bg-blue;
    }
}

.result.postcode:hover {
    background-color: $bg-blue;
}

.map-container {
    height: 100%;
}

#map {
    height: 55%;
    margin: 1rem 0 1rem 0;
}

.bg-danger {
    background-color: $bg-danger;
}

.bg-ok {
    background-color: $bg-success !important;
}

.result-header-wrapper {
    margin-top: 2.75rem;

}

.result--postcode,
.result--constituency {
    font-family: $font-stack !important;
    color: #fafafa;
}

.result--postcode {
    font-size: 3rem;
}

.result--constituency {
    font-size: 1.875rem;
}

.no-results--container {
    height: 100%;
    display: grid;
    place-items: center;

    p {
        font-family: $font-stack;
        font-size: 1.75rem;
    }
}

.result--postcode.loading:after {
    content: "\2026";
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1300ms infinite;
    animation: ellipsis steps(4, end) 1300ms infinite;
    width: 0px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-header {
    font-family: $font-stack;
    font-weight: $fw-bold;
    font-size: 2rem;
    color: rgba(34, 180, 104, 0.698);
}

.item-content {
    font-family: $font-stack-alt;
    
}


@keyframes ellipsis {
    to {
        width: .75em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: .75em;
    }
}

@media screen and (min-width: 1024px) {
    #map {
        display: block;
    }

    #header-wrapper--search {

    #searchbar-wrapper {
        width: 50%;
    }
    }
}
